# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
target/
dist/
build/

# Dependency directories
node_modules/

# OS Files.
.DS_Store
Thumbs.db

# IDE Files
.idea/
*.iml
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local
*.vite